:root {
  --totsv-light: #01dbff;
    --totsv-dark: #012233;
}

body {
  background-color: var(--totsv-light);
}

.alert {
  border-radius: 8px;
}

.table th {
  background-color: #f8f9fa;
  border-top: none;
}

.product-row:hover {
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .table-responsive {
    font-size: 0.9em;
  }
  .btn-sm {
    font-size: 0.8em;
    padding: 0.25rem 0.5rem;
  }
}
.textlenght_12{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
}